Flask-Grundgerüst/__pycache__/main.cpython-312.pyc
Flask-Grundgerüst/__pycache__/model.cpython-312.pyc
Flask-Grundgerüst/__pycache__/main.cpython-311.pyc
Flask-Grundgerüst/__pycache__/model.cpython-311.pyc
