src/__pycache__/main.cpython-311.pyc
src/__pycache__/main.cpython-311.pyc
src/__pycache__/matrix.cpython-311.pyc
src/__pycache__/plot.cpython-311.pyc
src/__pycache__/simulation.cpython-311.pyc
src/__pycache__/main.cpython-311.pyc

./Flask-Grundgerüst
./src/__pycache__