<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<title>Simulation Risikomatrix-Klassifikation</title>
		<script src="../static/customTableLogic.js"></script>
		<link
			rel="stylesheet"
			href="../static/index.css" />
	</head>

	<body>
		<header>
			<h1>Risikomatrix Erstellen</h1>
		</header>

		<div class="form-section">
			<h2 id="h2-create-matrix">Go Back to Main Page</h2>
			<button type="submit" onclick="goBack()">Go Back</button>
		</div>

		<div class="form-section">
			<h2 id="h2-create-matrix">Enter Matrix Name</h2>
			<input
				id="matrixName"
				type="text"
				placeholder="Enter name of Matrix" />
		</div>

		<div class="form-section">
			<h2 id="h2-create-matrix">Set Risk Levels</h2>
			<table id="riskLevels">
				<thead>
					<tr>
						<th>Risk Number</th>
						<th>Risk Color</th>
						<th>Risk Name</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td><input type="color" /></td>
						<td>
							<input
								type="text"
								placeholder="Enter name" />
						</td>
					</tr>
				</tbody>
			</table>

			<button type="submit" onclick="addRow()">Add Row</button>
			<button type="submit" onclick="removeRow()">Remove Row</button>
		</div>

		<div class="form-section">
			<h2 id="h2-create-matrix">Define Matrix</h2>
			<div>
				<p>
					define how many rows ond columns the table has and fill the generated Table
					according to the specified Risk Numbers
				</p>
				<label for="rows">Rows (max 7):</label>
				<input
					type="number"
					id="rows"
					max="10"
					min="1"
					value="3" />
				<label for="cols">Columns (max 7):</label>
				<input
					type="number"
					id="cols"
					max="10"
					min="1"
					value="3" />
					<button type="submit" onclick="generateTable()">Generate Table</button>
			</div>
		
			<table id="matrixTable"></table>
		</div>

		<div class="form-section">
			<h2 id="h2-create-matrix">Add Matrix</h2>
			<button
				type="submit"
				id="submitButton"
				onclick="sendTableData()"
				style="display: none">
				Submit Table Data
			</button>
		</div>

		<div class="form-section">
			<h2 id="h2-create-matrix">Matrix Overview</h2>
			<ul>
				{% for element in matrices %}
				<li>{{ element }}</li>
				{% endfor %}
			</ul>
		</div>
	</body>
</html>
