<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simulation Risikomatrix-Klassifikation</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>

    <header>
        <h1>Risikomatrix Analyse</h1>
    </header>
    
    <main>
        <section class="form-section">
            <h2 id="h2setsim">Set Simulation Parameters</h2>
            <form action="/submit" id="set_parameters" method="POST">
                <label for="n_simulations">Number of Simulations:</label>
                <input type="number" id="n_simulations" name="n_simulations" value="2000" min="1" max="10000"><br><br>
            
                <div class="flexfreqsev">
                    <div class="flexfreq">
                        <h3>Frequency</h3>
                        <label for="frequency_mean">Frequency Mean:</label>
                        <input type="number" id="frequency_mean" name="frequency_mean" step="0.001" value="0.333" min="0" max="1"><br><br>
                
                        <label for="frequency_perc">Frequency Tolerance (+/-%):</label>
                        <input type="number" id="frequency_perc" name="frequency_perc" step="0.05" value="1" min="0" max="100"><br><br>
                    </div>
                    <div class="flexsev">
                        <h3>Severity</h3>
                        <label for="severity_mean">Severity Mean:</label>
                        <input type="number" id="severity_mean" name="severity_mean" step="0.001" value="0.5" min="0" max="1"><br><br>
                    
                        <label for="severity_perc">Severity Tolerance (+/-%):</label>
                        <input type="number" id="severity_perc" name="severity_perc" step="0.05" value="1" min="0" max="100"><br><br>
                    </div>
                </div>
            
                
            
                <input type="submit" value="Submit">
            </form>
        </section>
    
    <br>

    <h2 id="h2plots">Plots</h2>
        <div class="plot-comparison">
        <div class="col">
            <div class="plot">{{ scatter1|safe }}</div>
            <div class="plot">{{ bar1|safe }}</div>
            <div class="plot">{{ heat1|safe }}</div>
        </div>
        <div class="col">
            <div class="plot">{{ scatter2|safe }}</div>
            <div class="plot">{{ bar2|safe }}</div>
            <div class="plot">{{ heat2|safe }}</div>
        </div>
    </div>
    </main>

</body>
</html>
