<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simulation Risikomatrix-Klassifikation</title>
</head>
<body>

    <header>
        <h1>Fehlermatrix Analyse</h1>
    </header>
    
    <h2>Set Simulation Parameters</h2>
    <form action="/submit" method="POST">
        <label for="n_simulations">Number of Simulations:</label>
        <input type="number" id="n_simulations" name="n_simulations" value="2000" min="1" max="10000"><br><br>
    
        <label for="frequency_mean">Frequency Mean:</label>
        <input type="number" id="frequency_mean" name="frequency_mean" step="0.001" value="0.333" min="0" max="1"><br><br>
    
        <label for="frequency_var">Frequency Variance:</label>
        <input type="number" id="frequency_var" name="frequency_var" step="0.0001" value="0.005" min="0" max="1"><br><br>
    
        <label for="severity_mean">Severity Mean:</label>
        <input type="number" id="severity_mean" name="severity_mean" step="0.001" value="0.5" min="0" max="1"><br><br>
    
        <label for="severity_var">Severity Variance:</label>
        <input type="number" id="severity_var" name="severity_var" step="0.0001" value="0.005" min="0" max="1"><br><br>
    
        <input type="submit" value="Submit">
    </form>
    

    <br>

    <h2>Plots</h2>

    <div id="plot">{{ plot|safe }}</div>
    <div id="plot">{{ plot2|safe }}</div>
    <div id="plot">{{ plot3|safe }}</div>


</body>
</html>
