<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simulation Risikomatrix-Klassifikation</title>
</head>
<body>
    <main>
        <header>
            <h1>Hello World!</h1>
        </header>
    </main>

    <form method="POST" action="/display">
        <input type="text" name="input" id="input" placeholder="Enter your text here!">
        <button type="submit">Click me!</button>
    </form>

    <br>
    <div id="output">{{input}}</div> <!-- Hier wird das Ergebnis der Python-Funktion angezeigt -->
</body>
</html>
